.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.realmhunter-logo{
  width: 500px;
  margin: 40px auto;
}
.realmhunter-logo img{
  width: 100%;
}
.navi-right{
  float: right;
}
.navi-left{
  float: left;
}

ul.nav{
  width: 100%;
  height: 60px;
  display: block;
}

.navigation button{
  background: none;
  border: none;
}
.solo-nb{
  margin: 0 auto;
}
.navi-login{
  background: linear-gradient(to bottom, #42ba96 5%, #3ab993 100%) !important;
  border:1px solid #35a583 !important;
  color: white !important;
}
.navigation ul{
  padding: 0px 15px;
  color: white;
}
.navigation li {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  border-radius:3px;
  border:1px solid #74b807;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  padding: 3px 10px;
  margin: 0px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #528009;
}
.nav-link{
  border: none !important;
  color: white;
}
.nav-link: hover{
  border: none !important;
}
.navigation li:hover {
  background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color:#77a809;
}
.navigation li:active {
  position:relative;
  top:1px;
}
.nav-tabs{
  border: none;
}

.balance-show{
  position: absolute;
  display: block;
  top: 5px;
  right: 5px;
  font-weight: 700;
  text-shadow: none !important;
}
.nbmonname{
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}
.nb-link{
  text-decoration: none;
}
.card{
  background: rgb(63,94,251);
background: linear-gradient(180deg, rgba(63,94,251,1) 70%, rgba(166,70,252,1) 120%);
}
.nb-card{
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(166,70,252,1) 100%);
-webkit-box-shadow: 10px 10px 47px -11px rgba(0,0,0,0.18);
-moz-box-shadow: 10px 10px 47px -11px rgba(0,0,0,0.18);
box-shadow: 10px 10px 47px -11px rgba(0,0,0,0.18);

border-radius: 10px;
padding: 30px;
margin: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
